.info-box {
  height: 72px;
  min-height: 72px;
  overflow: auto;
}

.detail-content {
  display: flex;
  height: calc(100vh - 45px - 16px - 72px - 14px - 10px);
  min-height: calc(700px - 45px - 16px - 72px - 14px);
  margin-top: 14px;
}

.detail-content-left {
  display: flex;
  flex-direction: column;
  width: 340px;
  min-width: 340px;
  max-width: 340px;
  margin-right: 12px;
}

.detail-content-right {
  width: calc(100% - 340px - 12px);
  background: #e3e3e3;
}

.detail-content-left .left-up {
  flex: 1;
  width: 100%;
  border: 1px solid #e3e3e3;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow-y: auto;
}

.detail-content-left .shadow-box {
  width: 100%;
  height: 10px;
  opacity: 0.09;
  transform: scaleY(-1);
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 2px;
}

.detail-content-left .left-down {
  width: 100%;
  height: 272px;
  min-height: 272px;
  max-height: 272px;
  border: 1px solid #e3e3e3;
  border-top: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow-y: auto;
}

hr {
  height: 1px;
  border: none;
  background-color: #e3e3e3;
}
