.identity-verification-doc-display {
  display: flex;
  height: 100%;
}

.identity-verification-doc-display-left {
  display: flex;
  flex: 6;
  background-size: 128px 128px;
  background-repeat: repeat;
  border-right: 1px solid #e3e3e3;
}

.identity-verification-doc-display-right {
  flex: 4;
  padding: 20px;
}

.identity-verification-doc-display-right-all,
.identity-verification-doc-display-right-update {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.identity-verification-doc-display-left-information {
  flex: 1;
}

.identity-verification-doc-display-left-operator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.identity-verification-doc-display-left-icon {
  margin-top: 20px;
}

.identity-verification-doc-display-left-icon img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.identity-verification-doc-display-left-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.identity-verification-doc-display-right-select div {
  margin-bottom: 2px;
}
