.transactions-list {
  padding: 16px 16px 0px 16px;
}

.renderAcceptanceNo {
  color: #1890ff;
  text-decoration: underline;
  cursor: pointer;
}

.transactions-list-status {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 104px;
  padding: 14px 14px 0px 14px;
  border: 1px solid #e3e3e3;
}

.transactions-list-table {
  height: calc(100vh - 460px);
}

.transactions-list-status-div {
  display: flex;
  align-items: center;
}

.transactions-list-status-div-left {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  flex: 4;
  font-weight: bold;
}

.transactions-list-status-div-right {
  display: flex;
  justify-content: flex-end;
  flex: 6;
  height: 30px;
}

.transactions-list-subTable {
  display: flex;
  align-items: center;
  margin: 12px 0px;
}

.transactions-list-subTable-left {
  flex: 9;
}

.transactions-list-subTable-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  height: 64px;
  padding-right: 14px;
  border: 1px solid #e3e3e3;
  border-left: none;
}

.transactions-list-information {
  height: 142px;
  padding: 10px 15px 6px;
  margin-top: 10px;
  border: 1px solid #e3e3e3;
}

.transactions-list-information-button {
  display: flex;
  align-items: center;
  height: 30px;
}

.transactions-list-information-button p {
  margin-right: 10px;
}

.transactions-list-information-textArea {
  margin-top: 10px;
}
