.inspect-btn {
  display: flex;
}

.cir-icon-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.cir-icon-grey {
  border: 2px solid #979797;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.cir-icon-white {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.clear-icon {
  color: "#979797";
}
