.cdd-edd-tab-title {
  padding-left: 10px;
  background-color: #e7e6e6;
  font-size: 12px;
  font-weight: bold;
}

.cdd-edd-tab-info-transaction {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 150px repeat(4, 1fr);
  grid-column-gap: 10px;
  padding-left: 10px;
  font-weight: bold;
  margin-top: 14px;
}

.cdd-edd-tab-info-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 150px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 14px;
}

.cdd-edd-tab-info-transaction > div:first-child {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}

.cdd-edd-tab-info-transaction > div:nth-child(2),
.cdd-edd-tab-info-transaction > div:nth-child(3),
.cdd-edd-tab-info-transaction > div:nth-child(4),
.cdd-edd-tab-info-transaction > div:nth-child(5) {
  display: flex;
  flex-direction: column;
}

.cdd-edd-tab-info-transaction .MuiFormControlLabel-label {
  font-size: 14px;
  font-weight: bold;
}

.cdd-edd-tab-info-transaction .MuiFormControlLabel-root {
  height: 24px;
}

.cdd-edd-tab-info-grid-select {
  width: 25%;
  height: 30px;
}

.cdd-edd-tab-info-grid-select .MuiSelect-select {
  height: 30px;
  line-height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.cdd-edd-tab-info-grid-text {
  width: 10%;
  min-width: 178px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.between {
  justify-content: space-between;
}

.cdd-edd-tab-info-grid > div:nth-child(odd) {
  text-align: right;
}

.cdd-edd-tab-info-grid > div:nth-child(even) {
  display: flex;
}

.cdd-edd-tab-info-grid-tel {
  width: 305px;
}

.cdd-edd-tab-info-grid-post {
  width: 100px;
}

.cdd-edd-tab-info-grid-address,
.cdd-edd-tab-info-grid-input {
  flex: 1;
}

.cdd-edd-tab-info-grid-input
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.cdd-edd-tab-info-grid-tel
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.cdd-edd-tab-info-grid-post
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.cdd-edd-tab-info-grid-address
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}
